#welcome{
    padding-top: 50px;
    max-height: 500px;
}
#welcome img{
    height: 20%;
}
/*Styling to create the lines to segment the different sections of the website.*/
hr.solid{
    border-top: 3px solid black;
}